*{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: black;
}
div{
    background-color: white;
    border: 6px solid cornflowerblue;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    color: black;
    margin-top: 100px;
}
h1{
    color: white;
    margin-top: 20px;
}
ul{
    margin: 0 auto;
    margin-top: 70px;
    font-size: 20px;
    background-color: white;
}
a#boton1{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;
    text-decoration: none;
}
#boton1:hover{
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    
}
a#boton2{
    background-color: white;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;
    text-decoration: none;
    border: 1px solid black;
}
#boton2:hover{
    background-color: black;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    
}
a#boton3{
    background-color: #F0F0F0;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
    text-decoration: none;
}
#boton3:hover{
    background-color: black;
    color: #F0F0F0;
    text-decoration: none;
}
a#boton4{
    background-color: #0074da;
    color: #616066;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 130px;
    padding-right: 130px;
    text-decoration: none;
    
}
#boton4:hover{
    background-color: #616066;
    color: #0074da;
    text-decoration: none;
    
    
}
