*{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
ul{
    margin: 0 auto;
    margin-top: 60px;
    
}
a#boton1{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;
    text-decoration: none;
}
#boton1:hover{
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    
}
a#boton2{
    background-color: white;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;
    text-decoration: none;
    border: 1px solid black;
}
#boton2:hover{
    background-color: black;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    
}
